*{
      margin:0;
      padding:0;
}

.main-div{
    height:100vh;
    width:100vw;
    background-color: rgb(5, 125, 125);
    display: flex;
    justify-content: center;
    align-items: center;

}
.child_div{
       height:60%;
       width:22%;
}
.img{
    height:5rem;
    width:5rem;
    margin-left: 33%;
}

.addItems{
    height:2rem;
    width:100%;
    display: flex;
    border-radius: 4px;
    background-color: white;
    border:2px solid white;
    align-items: center;
}
.addIcon{
    cursor: pointer;
    margin-right: 1.5rem;
}
.addIcon:hover{
    color:rgb(34, 239, 34);
}
.form-control{
    height:2rem;
    width:95%;
    text-decoration: none;
    border:none;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
  }

  .eachItem{
    height: 2rem;
    margin-top: 1rem;
    position: relative;
    display: flex;
    background-color:  rgb(9, 57, 214);
    border-radius: 4px;
    align-items: center;
    color:white;
  }
  .eachItem:hover{
    background-color:rgb(1, 77, 95);
  }
  .eachItem:hover .edit{
    color:rgb(34, 239, 34);
  }
  .eachItem:hover .delete{
    color:crimson;
  }
  .eachItem h6{
    display: flex;
    align-items: center;
         padding-left: 1rem;
  }
.todoBtn{
    width:5rem;
    position: absolute;
    top:5px;
    right:.6rem;
    height: auto;
    display: flex;
    align-items: center;    
    justify-content: space-around;
    margin-left: 12rem;
}
.todoBtn:hover{
    cursor: pointer;
}

.btn{
    color: white;
    margin-top: 1rem;
    margin-left: 30%;
    border: 2px solid black;
    background-color: rebeccapurple;
}
.btn:hover{
    background-color:crimson;
    color: white;
}

@media screen and(max-width:"990px") {
          .child_div {
            height: 60%;
            width: 60%;
                  }
}