*{
    margin:0;
    padding:0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    height: 3rem;
    width: 30rem;
    background-color:aliceblue;
    border-radius: 0.3rem;
    margin: 20px 0;
}
.btn-group{
    height: auto;
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}
.btn-group_item{
    border: none;
    background-color: aliceblue;
    text-transform: capitalize;
}
.btn-group_item:hover{
    font-size: large;
    background-color: rgb(220, 56, 94);
    color:white;
    /* border-radius: .3rem; */
}